<nav class="navbar navbar-light fixed-top fancy">
    <div class="container">
        <a class="navbar-brand" href="/"> 
          <picture>
            <source srcset="/site/assets/images/circles-night.png" media="(prefers-color-scheme: dark)">
            <img src="/site/assets/images/circles-day.png" height="33px">
          </picture>
        </a>
        <a class="navbar-brand" href="/blog">Blog</a>
        <a class="navbar-brand" href="/links">All My Links</a>
        <span style="width: 50%;"></span>
    </div>
</nav>